.box {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    border: 2px dashed gray;
}

.blue {
    border: 2px dashed blue;
}

.red {
    border: 2px dashed red;
}

.green {
    border: 2px dashed green;
}